<html>
	<head>
    <style>
      body {
        background-color: #B3DBDF;
        margin: 100px 0;
      }
      p {
        font-family: "Comic Sans MS";
        text-align: center;
      }
      p.a {
        font-size: 40px;
      }
      p.b {
        font-size: 20px;
      }
      span {
        color: #34919A;
      }
    </style>
	</head>
	<body>
      <p class="a">
        <%= greeting %>
      </p>
      <p class="b">
        <%= msg %>
      </p>
	</body>
</html>
